In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/glass.csv")

In [3]:
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [5]:
from sklearn.model_selection import train_test_split

In [9]:
X = df.drop("Type",axis=1)
Y = df['Type']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,Y)

In [6]:
from sklearn.naive_bayes import GaussianNB

In [11]:
nb = GaussianNB()

nb.fit(X_train,y_train)

GaussianNB()

In [12]:
acc = nb.score(X_test,y_test)

In [13]:
print(acc)

0.35185185185185186