## Support vector machine
---

### 1. Import Package and read Data

In [80]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.svm import SVC

In [81]:
df = pd.read_csv("data/UniversalBank.csv")

In [82]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

### 2. Split Data in Training and Testing Set

In [84]:
X = df.drop(['ID','ZIP Code','CreditCard'],axis=1)
Y = df['CreditCard']

In [85]:
x_train,x_test,y_train,y_test = train_test_split(X,Y)

### 3. Create SVM model and train

In [86]:
svc_ = SVC(gamma='auto')
svc_.fit(x_train,y_train)

SVC(gamma='auto')

In [87]:
svc_.predict([x_test.iloc[0]])

array([0], dtype=int64)

### 4. Test Accuracy

In [88]:
y_pred = svc_.predict(x_test)
accuracy = accuracy_score(y_test,y_pred)
con_mat = confusion_matrix(y_test,y_pred)

print(f'Accuracy of Model is {accuracy} .')
print(f'Confusion Matrix :\n{con_mat}')

Accuracy of Model is 0.6824 .
Confusion Matrix :
[[838  40]
 [357  15]]