In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({"name":["A", "B", "C"], "balance":[100, 200, 300]})

In [3]:
df_new = pd.DataFrame({"name":["B", "C"], "balance":[400, 600]})

In [7]:
pd.concat([df1,df_new],join='inner')

  name  balance
0    A      100
1    B      200
2    C      300
0    B      400
1    C      600

In [10]:
pd.merge(df1, df_new, on = 'name' )

  name  balance_x  balance_y
0    B        200        400
1    C        300        600