# Artificial Neural Network

### 1. Import Package

In [31]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor

### 2. read data

In [23]:
df = pd.read_csv('data/hour_ride.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

### 3. Make dummy variable

In [24]:
dummy_variables = ['season', 'weathersit', 'mnth', 'hr', 'weekday']
df = pd.get_dummies(df,columns=dummy_variables)
variables_to_drop = ['instant', 'dteday',  'atemp', 'workingday','casual', 'registered']
df.drop(variables_to_drop,axis = 1,inplace=True)

df.head()

,yr,holiday,temp,hum,windspeed,cnt,season_1,season_2,season_3,season_4,...,hr_21,hr_22,hr_23,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,0,0,0.24,0.81,0.0,16,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0.22,0.80,0.0,40,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0.22,0.80,0.0,32,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0.24,0.75,0.0,13,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0.24,0.75,0.0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 57 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   yr            17379 non-null  int64
 1   holiday       17379 non-null  int64
 2   temp          17379 non-null  float64
 3   hum           17379 non-null  float64
 4   windspeed     17379 non-null  float64
 5   cnt           17379 non-null  int64
 6   season_1      17379 non-null  uint8
 7   season_2      17379 non-null  uint8
 8   season_3      17379 non-null  uint8
 9   season_4      17379 non-null  uint8
 10  weathersit_1  17379 non-null  uint8
 11  weathersit_2  17379 non-null  uint8
 12  weathersit_3  17379 non-null  uint8
 13  weathersit_4  17379 non-null  uint8
 14  mnth_1        17379 non-null  uint8
 15  mnth_2        17379 non-null  uint8
 16  mnth_3        17379 non-null  uint8
 17  mnth_4        17379 non-null  uint8
 18  mnth_5        17379 non-null  uint8
 19  mnth_6        17379 non-null  uint8
 20  mnth_7        17379 non-null  uint8
 21  mnth_8        17379 non-null  uint8
 22  mnth_9        17379 non-null  uint8
 23  mnth_10       17379 non-null  uint8
 24  mnth_11       17379 non-null  uint8
 25  mnth_12       17379 non-null  uint8
 26  hr_0          17379 non-null  uint8
 27  hr_1          17379 non-null  uint8
 28  hr_2          17379 non-null  uint8
 29  hr_3          17379 non-null  uint8
 30  hr_4          17379 non-null  uint8
 31  hr_5          17379 non-null  uint8
 32  hr_6          17379 non-null  uint8
 33  hr_7          17379 non-null  uint8
 34  hr_8          17379 non-null  uint8
 35  hr_9          17379 non-null  uint8
 36  hr_10         17379 non-null  uint8
 37  hr_11         17379 non-null  uint8
 38  hr_12         17379 non-null  uint8
 39  hr_13         17379 non-null  uint8
 40  hr_14         17379 non-null  uint8
 41  hr_15         17379 non-null  uint8
 42  hr_16         17379 non-null  uint8
 43  hr_17         17379 non-null  uint8
 44  hr_18         17379 non-null  uint8
 45  hr_19         17379 non-null  uint8
 46  hr_20         17379 non-null  uint8
 47  hr_21         17379 non-null  uint8
 48  hr_22         17379 non-null  uint8
 49  hr_23         17379 non-null  uint8
 50  weekday_0     17379 non-null  uint8
 51  weekday_1     17379 non-null  uint8
 52  weekday_2     17379 non-null  uint8
 53  weekday_3     17379 non-null  uint8
 54  weekday_4     17379 non-null  uint8
 55  weekday_5     17379 non-null  uint8
 56  weekday_6     17379 non-null  uint8
dtypes: float64(3), int64(3), uint8(51)
memory usage: 1.6 MB

### 4. Split Data

In [29]:
target_fields = ['cnt' ]
X = df.drop(target_fields,axis=1)
Y = df[target_fields]
x_train,x_test,y_train,y_test = train_test_split(X,Y)

### 5. Set Hyperparameter and train Network

In [38]:
#Hyperparameter
learning_rate  = 0.1 
max_iter = 100
hidden_layer_sizes = (200,100,50)
batch_size = 50

In [39]:
reg = MLPRegressor(hidden_layer_sizes=hidden_layer_sizes,
                   learning_rate_init=learning_rate,
                   max_iter=max_iter, 
                   batch_size=batch_size)
reg.fit(x_train,y_train)

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MLPRegressor(batch_size=50, hidden_layer_sizes=(200, 100, 50),
             learning_rate_init=0.1, max_iter=100)

### 6. Check Score

In [40]:
print(f'R^2 Score of Network : {reg.score(x_test,y_test)} .')

R^2 Score of Network : 0.9188769221513343 .

---